label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"], input[type="date"] {
  padding: 5px;
  width: 300px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

select {
  padding: 5px;
  width: 310px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}